header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 100%;
}

.profile {
  background-image: url("../images/asfalt-light.png");
  background-color: #a08a40;
  color: white;
}