.tweet {
  border: 3px black solid;
  padding: 30px;
  margin-top: 60px;
  transition: box-shadow 0.5s ease;
}

.tweet:hover {
  box-shadow: 6px 6px #c9cae2; 
}

.username {
  color: #c3c7de;
}

.content {
  text-align: left;
  padding-bottom: 30px;
  margin-bottom: 10px;
  border-bottom: 4px black solid;
}

.tweet header {
  height: 0px;
  background-image: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  padding-bottom: 50px;
}

.tweet header div {
  display: flex;
  align-items: center;
}

.tweet header div p {
  font-weight: 300;
  padding-left: 15px;
}

.tweet footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.tweet footer time {
  margin: 0px;
  font-size: 15px;
}

.tweet footer div i {
  transition: color 0.4s ease;
  padding: 4px;
}

.tweet footer div i:hover {
  color: #c69c3b; 
}